* {
  box-sizing: border-box;
  transform: scale(1.02);
  overflow: hidden;
}

body {
  align-items: center;
  display: flex;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(219, 219, 107);
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

body img {
  padding-top: 15px;
}
